<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registration Succesfull</title>
  <link href="images/logo.png" rel="icon">
  <!-- <link rel="stylesheet" href="css/plugins.css"> -->
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body style="background-color: #E9ECEF">
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your Registration have been successfully completed.</p>
    <p class="lead">Test Date is March 15,2020.</p>
    <h5>Time of Exam :</h5>
        <pre><strong>
        9<sup>th</sup>class : 9:00 Am to 10:00 Am
        10<sup>th</sup>class : 1:00 Pm to 02:00 Pm
        11<sup>th</sup>class : 5:00 Pm to 6:00 Pm
        12<sup>th</sup>class : 8:00 Pm to 9:00 Pm
    </strong></pre>
    <p class="lead">
      <a class="btn btn-primary btn-sm" style="margin-top: -37px" href="/" role="button">Continue to homepage</a>
    </p>
</div>
<div class="jumbotron" style="margin-top: -150px">
    <h5 style="color: red"> Note :</h5>
    <ol style="margin-left: 0px">
    <li><h5 style="text-align: 0px">Scholarship Exam Fees Rs. 100.</h5></li>
    <li><h5>Fees Should be paid and send the screenshot on this paytm No. <strong>9897165055.</strong></h5></li>
    <li><h5>Test Should be conducted online, details will be share with you further.</h5></li>
    <li><h5>Online Classes are also available.</h5></li>
    <li><h5>Only shortListed students are informed.</h5></li>
    <li><h5>Last date for registration is Feb 29,2020.</h5></li>
    </ol>
</div>
  <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=7"></script>
</body>
</html>