<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Scholarship Registration Form</title>
		<link href="images/logo.png" rel="icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/scholarshipStyle.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<div class="image-holder">
					<img src="images/scholarshipLogo.png" alt="">
				</div>
				<form method="POST" action="/scholarship-registration-form-submit">
					<h3>Scholarship Registration Form</h3>
					<div class="form-row">
						<input type="text" name="name" style="width:90%; margin-left:5%;" class="form-control" placeholder="Name" required>
						<input type="email" name="email" style="width:90%; margin-left:5%;" class="form-control" placeholder="Email-id" required>
					</div>
					<div class="form-row">
						<input type="text" name="school" style="width:90%; margin-left:5%;" class="form-control" placeholder="Current School" required>
						<div class="form-holder">
							<select style="width:90%; margin-left:5%;" name="grade" id="" class="form-control" required>
								<option value="" disabled selected>Current Grade</option>
								<option value="8th">8th</option>
								<option value="9th">9th</option>
								<option value="10th">10th</option>
								<option value="11th">11th</option>
							</select>
							<i class="zmdi zmdi-chevron-down"></i>
						</div>
					</div>
					<div class="form-row">
						<div class="form-holder">
							<select style="width:90%; margin-left:5%;" name="subject" id="" class="form-control" required>
								<option value="" disabled selected>Choose Your Subject</option>
								<option value="">English</option>
								<option value="">Mathematics</option>
								<option value="">Social Science</option>
								<option value="">Science</option>
								<option value="">Physics</option>
								<option value="">Chemistry</option>
								<option value="">Biology</option>
								<option value="">Accountancy</option>
								<option value="">Business Studies</option>
								<option value="">Economics</option>
							</select>
							<i class="zmdi zmdi-chevron-down"></i>
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="fatherName" style="width:90%; margin-left:5%;" class="form-control" placeholder="Father's Name" required>
						<input type="text" name="motherName" style="width:90%; margin-left:5%;" class="form-control" placeholder="Mother's Name" required>
					</div>
					<div class="form-row">
						<input type="tel" style="width:90%; margin-left:5%;" name="cNumber" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number" class="form-control" placeholder="Contact No." required>
						<input type="tel" style="width:90%; margin-left:5%;" name="wNumber" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number"  class="form-control" placeholder="Whatsapp No." required>
					</div>
					<textarea name="address" placeholder="Address" class="form-control" style="height: 130px; width:90%; margin-left:5%;" required></textarea>
					<br>
					<h4><span style="color: red"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note:</span> All fields are required</h4>
					<button>Register
					<i class="zmdi zmdi-long-arrow-right"></i>
					</button>
				</form>
				
			</div>
		</div>

		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/scholarshipMain.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>