<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AdityaClasses</title>
  <link href="images/favicon.png" rel="icon">
  <link rel="stylesheet" href="css/plugins.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

    @media screen and (min-width: 480px) {
        #l {
            font-size: 40px;
        }
    }
    @media screen and (max-width:479px) {
        #l {
            font-size: 25px;
        }
    }

</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="loader-blocks">
        <span class="block-1"></span>
        <span class="block-2"></span>
        <span class="block-3"></span>
        <span class="block-4"></span>
        <span class="block-5"></span>
        <span class="block-6"></span>
        <span class="block-7"></span>
        <span class="block-8"></span>
        <span class="block-9"></span>
        <span class="block-10"></span>
        <span class="block-11"></span>
        <span class="block-12"></span>
        <span class="block-13"></span>
        <span class="block-14"></span>
        <span class="block-15"></span>
        <span class="block-16"></span>
      </div>
    </div>
  </div>
  <!--PreLoader Ends-->

  <!-- header -->
  <header class="site-header">
    <nav class="navbar navbar-expand-lg fixed-top gradient_bg">
      <div class="container">
        <a class="navbar-brand" href="/" id="l" style="font-family:Monotype Corsiva, Times, Serif; color: white">Aditya
          Commerce Classes</a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
          <span> </span>
          <span> </span>
          <span> </span>
        </button>

        <div class="collapse navbar-collapse" id="xenav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link pagescroll" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pagescroll" href="#contact">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>

      <!--side menu open button-->
      <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
        <span></span> <span></span> <span></span>
      </a>
    </nav>

    <!-- side menu -->
    <div class="side-menu">
      <div class="inner-wrapper">
        <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
        <nav class="side-nav">
          <ul class="navbar-nav w-100">
            <li class="nav-item active">
              <a class="nav-link pagescroll" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pagescroll" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>

        <ul class="social-icons-simple white top50 w-100">
          <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
          <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
          <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
        </ul>
        <p class="whitecolor">&copy; 2018 Designed and Developed by <b>The Technocrats</b></p>
      </div>
    </div>
    <a id="close_side_menu" href="javascript:void(0);"></a>
    <!-- End side menu -->
  </header>
  <!-- header -->
  <section id="home" class="padding_top" style="color:black">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel with-nav-tabs panel-success">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li><a href="#accounts" data-toggle="tab" class="btn btn-common">Accounts </a></li>
                <li><a href="#business" data-toggle="tab" class="btn btn-common">Business </a></li>
                <li><a href="#economics" data-toggle="tab" class="btn btn-common">Economics </a></li>
                <li><a href="#english" data-toggle="tab" class="btn btn-common">English</a></li>
              </ul>
            </div>
            <h2 style="text-align:center">Syllabus</h2><br>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade" id="accounts">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12">
                        <form method="post" action="/admin-update-syllabus">
                          <input type="text" name="courseId" value="1" hidden>
                          <div class="form-group">
                            <textarea class="form-control" rows="5" name="syllabus" placeholder="write syllabus here .."></textarea>
                          </div>
                          <center><input type="submit" class="button btnprimary top50" style="background-color:#00bcd4"
                              name="" value="Submit"></center>

                        </form>

                      </div>
                    </div>
                  </div><br>
                </div>
                <div class="tab-pane fade" id="business">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12">
                        <form method="post" action="/admin-update-syllabus">
                          <input type="text" name="courseId" value="3" hidden>
                          <div class="form-group">
                            <textarea class="form-control" rows="5" name="syllabus" placeholder="write syllabus here .."></textarea>
                          </div>
                          <center><input type="submit" class="button btnprimary top50" style="background-color:#00bcd4"
                              name="" value="Submit"></center>

                        </form>
                      </div>
                    </div>
                  </div><br>
                </div>
                <div class="tab-pane fade" id="economics">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12">
                        <form method="post" action="/admin-update-syllabus">
                          <input type="text" name="courseId" value="2" hidden>
                          <div class="form-group">
                            <textarea class="form-control" rows="5" name="syllabus" placeholder="write syllabus here .."></textarea>
                          </div>
                          <center><input type="submit" class="button btnprimary top50" style="background-color:#00bcd4"
                              name="" value="Submit"></center>

                        </form>
                      </div>
                    </div>
                  </div><br>
                </div>
                <div class="tab-pane fade" id="english">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-12">
                        <form method="post" action="/admin-update-syllabus">
                          <input type="text" name="courseId" value="4" hidden>
                          <div class="form-group">
                            <textarea class="form-control" rows="5" name="syllabus" placeholder="write syllabus here .."></textarea>
                          </div>
                          <center><input type="submit" class="button btnprimary top50" style="background-color:#00bcd4"
                              name="" value="Submit"></center>

                        </form>
                      </div>
                    </div>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Contact US -->
  <section id="contact" class="padding_top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
            <!-- <span>Lets Get In Touch</span> -->
            <h2 class="darkcolor">Contact Us</h2>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
          <div class="row">
            <div class="col-md-9 col-sm-6 our-address top40">
              <h5 class="bottom25">Our Address</h5>
              <p class="bottom15">123 Stree New York City , United States Of America. </p>
            </div>
            <div class="col-md-6 col-sm-6 our-address top40">
              <h5 class="bottom25">Our Phone</h5>
              <p class="bottom15">Office Telephone : 001 01085379709 <span class="block">
                  Mobile : 001 63165370895
                </span> </p>
            </div>
            <div class="col-md-6 col-sm-6 our-address top40">
              <h5 class="bottom25">Our Email</h5>
              <p class="bottom15">Main Email : admin@website.com <span class="block">Inquiries : email@website.com</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 margin_bottom">
          <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
            <div class="row">

              <div class="col-sm-12" id="result"></div>

              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <input class="form-control" type="text" placeholder="First Name:" required id="first_name" name="first_name">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <input class="form-control" type="text" placeholder="Last Name:" required id="last_name" name="last_name">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <input class="form-control" type="email" placeholder="Email:" required id="email" name="email">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="phone">
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group bottom35">
                  <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
                </div>
              </div>
              <div class="col-sm-12">
                <button type="submit" class="button btnprimary" id="submit_btn">submit request</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--Contact US Ends-->

  <!--Site Footer Here-->
  <footer id="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> </a> </li>
          </ul>
          <p class="copyrights wow fadeInUp" data-wow-delay="400ms"> &copy; 2018 Designed and Developed by <b>The
              Technocrats</b></p>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer ends-->


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.1.1.min.js"></script>

  <!--Bootstrap Core-->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!--to view items on reach-->
  <script src="js/jquery.appear.js"></script>

  <!--Equal-Heights-->
  <script src="js/jquery.matchHeight-min.js"></script>

  <!--Owl Slider-->
  <script src="js/owl.carousel.min.js"></script>

  <!--number counters-->
  <script src="js/jquery-countTo.js"></script>

  <!--Parallax Background-->
  <script src="js/parallaxie.js"></script>

  <!--Cubefolio Gallery-->
  <script src="js/jquery.cubeportfolio.min.js"></script>

  <!--FancyBox popup-->
  <script src="js/jquery.fancybox.min.js"></script>

  <!-- Video Background-->
  <script src="js/jquery.background-video.js"></script>

  <!--TypeWriter-->
  <script src="js/typewriter.js"></script>

  <!--Particles-->
  <script src="js/particles.min.js"></script>

  <!--WOw animations-->
  <script src="js/wow.min.js"></script>

  <!--Revolution SLider-->
  <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
  <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
  <script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="js/revolution/extensions/revolution.extension.video.min.js"></script>

  <!--Google Map API-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ97zN_MClQ8BnmJJOCY165S2QEYvbIis"></script>
  <script src="js/functions.js"></script>
</body>

</html>